<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Doctor</th>
      <th>Status</th>
      <th>Recommendations</th>
    </tr>
  </thead>

  <tbody>
    <% appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.doctor.profile.first_name + ' ' + appointment.doctor.profile.last_name%></td>
      <td><%= appointment.status%></td>
      <td><%= appointment.recommendations %></td>
    </tr>
    <% end %>
  </tbody>
</table>